$translateX100: 100%;
$translateX50: 50%;
$translateX20: 20%;
$translateXMinus100: -100%;

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  margin: 0;
  padding: 0;
  background: #f6f5f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0, 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;

  &.right-panel-active {
    .moving-container {
      transform: translateX($translateX100);
    }

    .overlay-container {
      transform: translateX($translateXMinus100);
    }

    .overlay {
      transform: translateX($translateX50);
    }

    .overlay-left {
      transform: translateX(0);
    }

    .overlay-right {
      transform: translateX($translateX20);
    }
  }
}

.header-container {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px;
  gap: 10px;

  button {
    border-radius: 20px;
    border: 1px solid #00c5bf;
    background: #00c5bf;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  p {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px 20px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  max-height: 480px;

  .tab-container {
    position: sticky;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 30px;

    button {
      background: #0077bc;
      border: 1px solid #0077bc;
      border-radius: 20px;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      width: 190px;

      &:focus {
        background-color: #475b9f;
        box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, 0.5) inset;
      }

      &:active {
        transform: scale(0.85);
      }
    }
  }

  .list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    overflow: auto;
    flex: 1;
  }
}

.add-task {
  display: flex;
  justify-content: right;
  width: 100%;

  button {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    &:active {
      transform: scale(0.75);
    }
    .icon {
      width: 50px;
      height: 50px;
    }
  }
}

.button-login {
  border-radius: 20px;
  border: 1px solid #00c5bf;
  background: #00c5bf;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  margin-top: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;

  &#blue {
    background: #0077bc;
    border: 1px solid #0077bc;
  }

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
  }

  &.ghost {
    background: transparent;
    border-color: #fff;
  }
}

.form-container {
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;

  & form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  & input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

  &.signup-container {
    left: 0;
    width: 50%;
    z-index: 1;
  }

  &.login-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;

  .overlay {
    background-image: linear-gradient(
      to right,
      #14daa9,
      #00d0ba,
      #00c5c6,
      #00bacc,
      #00adcc
    );
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: tranform 0.6s ease-in-out;

    .overlay-panel {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
      text-align: center;
      transform: translateX(0);
      transition: transform 0.6s ease-in-out;

      &.overlay-right {
        right: 0;
        transform: translateX(0);
      }

      &.overlay-left {
        background-image: linear-gradient(
          to left,
          #0093cb,
          #1d85c2,
          #2f77b8,
          #3d69ac,
          #475b9f
        );
        transition: translateX(-20%);
      }
    }
  }
}
